body {background-color: darkseagreen;}
header{background-color: darkgreen;}
ul{color: darkseagreen;font-size: 25px;
    text-align: center;
}
h1{color: darkseagreen;font-size: 80px;
}
.ma{background-color: darkgreen;}
p{color: darkseagreen; font-size: 25px;
    text-align: center;
}
h1{text-align: center;}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}
.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}
.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}
.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}
body {
    font-size: 16px;
}

.btn-container {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
body {
    margin: 0;
    padding: 0;
}

.btn-container {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}