body {background-color: darkseagreen;}
header{background-color: darkgreen;}
ul{color: darkseagreen;font-size: 25px;
    text-align: center;
}
h1{color: darkseagreen;font-size: 80px;
}
.ma{background-color: darkgreen;}
p{color: darkseagreen; font-size: 25px;
    text-align: center;
}
h1{text-align: center;}